[Desktop Entry]
Name=Sidemark
Comment=View and annotate PDF files with markdown notes
Exec=sidemark %f
Icon=de.hspitz.sidemark
Type=Application
Categories=Office;Viewer;
Keywords=PDF;annotate;annotation;notes;markdown;highlighter;ink;draw;lecture;slides;Obsidian;presentation;deck;
MimeType=application/pdf;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;text/markdown;text/x-markdown;
StartupNotify=true
